<%- include("partials/header"); -%>

<section class="recipe-section">
  <div class="row">
    <div class="col s12">
      <h3><%= recipe.titulo %></h3>
      <p>Cantidad de porciones: <%= recipe.cantidad_porciones%></p>
      <p><%= recipe.descripcion %></p>
    </div>
    <div class="col s12">
      <h4>Ingredientes</h4>
      <p>Podés marcar los ingredientes que ya utilizaste!</p>
      <%  recipe.ingredientes.forEach(function(ingrediente){ %>
      <p>
        <label>
          <input type="checkbox" />
          <span class="ingredient-item"><%=ingrediente%></span>
        </label>
      </p>
      <% }) %>
    </div>
    <div class="col s12">
      <h4>Instrucciones</h4>
      <%  for (let i = 0; i< recipe.instrucciones.length ; i++) { %>
        <div class="instruction-container">

            <div class="circle-number">
              <span><%= i+1 %></span>
            </div>

            <p class="recipe-instruction">
              <%=recipe.instrucciones[i];%>
            </p>

        <% }; %>
      </div>

    </div>
    <div class="col s12">

    </div>
  </div>



</section>



<%- include("partials/footer"); -%>
