<%- include("partials/header"); -%>

<!-- <section id="mobile-search">
  <div class="container">

    <div class="filters-container">
      <i class="tune material-icons">tune</i> Editar filtros


      <div class="chip">


        <i class="close material-icons">close</i>
      </div>
    </div>


  </div>
</section> -->


<section id="results-section">
  <div class="container">

  <div class="row">

    <% recipesFound.slice(-9).forEach(recipe => { %>
    <a href="/recipes/<%=recipe._id%>">
    <div class="col l6 m6 s12">
      <div class="card hoverable">
        <div class="card-image">
          <img src="../<%=recipe.imagen%>">
          <!-- <span class="card-title"><i class="material-icons">star star star star star_half</i></span> -->
        </div>
        <div class="card-content">
          <p><strong><%= recipe.titulo %> </strong></p>
        </div>
        <div class="card-content">
          <p><%= recipe.descripcion.length < 140 ? recipe.descripcion : recipe.descripcion.substring(0,140) + " ..." %></p>
        </div>
      </div>
    </div>
  </a>
  <%}); %>
  </div>
</div>

</section>





<%- include("partials/footer"); -%>
